<div class="register-container">
  <h2>Register</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


    <div>
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Enter your email" />
      <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        Valid email is required
      </small>
    </div>

    <div>
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Min 6 characters" />
      <small *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        Password must be at least 6 characters
      </small>
    </div>

      <select formControlName="role">
        <option [value]="0">Admin</option>
        <option [value]="1">Manager</option>
        <option [value]="2">Driver</option>
      </select>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>

  </form>

  <p>Already have an account? <a routerLink="/login">Login</a></p>
</div>